<div class='auction-program-bid-group-auction-items'>
  {{#if donationCategory}}
    <div class='auction-program-bid-group-auction-first-item'>
      <h3 class="auction-program-bid-group-donation-category-name">
        {{donationCategory.name}}
      </h3>
      {{auction-program-bid-group-auction-item auctionItem=firstMatchingAuctionItem}}
    </div>
    {{#each otherMatchingAuctionItems as |auctionItem|}}
      {{auction-program-bid-group-auction-item auctionItem=auctionItem}}
    {{/each}}
  {{else}}
    <div class='auction-program-bid-group-auction-items'>
      {{#each matchingAuctionItems as |auctionItem|}}
        {{auction-program-bid-group-auction-item auctionItem=auctionItem}}
      {{/each}}
    </div>
  {{/if}}
</div>
