<h3>
  {{#if auction.id}}
    Edit
  {{else}}
    New
  {{/if}}
  Auction
</h3>

<div class="input-group">
  <label>Name</label>
  {{focus-input value=auction.name}}
</div>

<div class="input-group">
  <label>Physical Address</label>
  {{textarea value=auction.physicalAddress rows=3 cols=40}}
</div>

<div class="input-group">
  <label>Time Zone</label>
  <select onchange={{action (mut auction.timeZoneId) value="target.value"}}>
    <option value=''>Select a time zone</option>
    {{#each timeZones as |timeZone|}}
      <option selected={{eq timeZone.id auction.timeZoneId}} value={{timeZone.id}}>{{timeZone.name}}</option>
    {{/each}}
  </select>
</div>

<p>Dates should be in the format "YYYY-MM-DD hh:mm".</p>

<div class="input-group">
  <label>Donation Window Ends At</label>
  {{input value=localDonationWindowEndsAt disabled=isTimeZoneIdNotSet placeholder=isTimeZoneIdNotSetPlaceholder size=50}}
</div>

<div class="input-group">
  <label>Starts At</label>
  {{input value=localStartsAt disabled=isTimeZoneIdNotSet placeholder=isTimeZoneIdNotSetPlaceholder size=50}}
</div>

<div class="input-group">
  <label>Ends At</label>
  {{input value=localEndsAt disabled=isTimeZoneIdNotSet placeholder=isTimeZoneIdNotSetPlaceholder size=50}}
</div>

<button {{action 'save'}}>
  {{#if auction.id}}
    Update
  {{else}}
    Create
  {{/if}}
  Auction
</button>

<button {{action 'cancel'}}>
  Cancel
</button>

{{yield}}
