<div>
  <label>Name</label>
  {{input value=bidGroup.name}}
</div>

<div>
  <label>Description</label>
  {{textarea value=bidGroup.description cols=80 rows=10}}
</div>

<div>
  <label>Group by Donation Category?</label>
  {{input type='checkbox' checked=bidGroup.groupByDonationCategory}}
</div>

<button {{action 'save'}} disabled={{not bidGroup.isValid}}>
  Save
</button>
