<div class="">
  <label for="">Bidder</label>
  <select onchange={{action 'setBidder' value='target.value'}} >
    <option value=''>Select bidder</option>
    {{#each sortedBidders as |bidder|}}
      <option value={{bidder.id}} selected={{eq bidder.id bid.bidder.id}}>{{bidder.number}} {{format-bidder-name bidder=bidder}}</option>
    {{/each}}
  </select>
</div>

<div class="">
  <label for="">Amount</label>
  {{input type='number' value=bid.amount}}
</div>

<div class="">
  <label for="">Winner</label>
  {{input type='checkbox' checked=bid.winner}}
</div>

<button {{action 'save' bid}}>
  Save Bid
</button>
