<h5>
  {{#if donation.id}}
    Edit
  {{else}}
    New
  {{/if}}
  Donation
</h5>

<p>Dates should be in the format "YYYY-MM-DD hh:mm".</p>

<div class="input-group">
  <label>Title</label>
  {{focus-input value=donation.title}}
</div>

<div class="input-group">
  <label>Donation Category</label>
  <select onchange={{action 'setDonationCategory' value="target.value"}}>
    <option>Select a category</option>
    {{#each donationCategories as |donationCategory|}}
      <option value={{donationCategory.id}} selected={{eq donationCategory.id donation.donationCategory.id}}>{{donationCategory.name}}</option>
    {{/each}}
  </select>
</div>

<div class="input-group">
  <label>Display Description</label>
  {{textarea value=donation.displayDescription rows=10 cols=80}}
</div>

<div class="input-group">
  <label>Quantity</label>
  {{input value=donation.quantity}}
</div>

<div class="input-group">
  <label>Estimated Value</label>
  {{input value=donation.estimatedValueAmount}}
</div>

<div class="input-group">
  <label>Minimum Bid Amount</label>
  {{input value=donation.minimumBidAmount}}
</div>

<div class="input-group">
  <label>Fulfillment Type</label>
  <select onchange={{action (mut donation.fulfillmentType) value="target.value"}}>
    <option>Select a fulfillment type</option>
    {{#each fulfillmentTypes as |fulfillmentType|}}
      <option value={{fulfillmentType}} selected={{eq fulfillmentType donation.fulfillmentType}}>{{fulfillmentType}}</option>
    {{/each}}
  </select>
</div>

<div class="input-group">
  <label>Redemption Window Starts At</label>
  {{input value=localRedemptionWindowStartsAt}}
</div>

<div class="input-group">
  <label>Redemption Window Ends At</label>
  {{input value=localRedemptionWindowEndsAt}}
</div>

<div class="input-group">
  <label>Notes</label>
  {{textarea value=donation.notes cols=80 rows=10}}
</div>

<div class="input-group">
  <label>Donors</label>
  {{#if potentialDonors}}
    <select onchange={{action 'addDonor'}}>
      <option value=''>Add a donor</option>
      {{#each potentialDonors as |donor|}}
        <option value={{donor.id}}>{{donor.user.name}}</option>
      {{/each}}
    </select>
  {{/if}}
  <div>
    <ul>
      {{#each donation.donationDonors as |donationDonor|}}
        {{#if donationDonor.isDeleted}}
          <li><del>{{donationDonor.donor.user.name}}</del> <button {{action 'undoRemoveDonationDonor' donationDonor}}>Undo</button></li>
        {{else}}
          <li>{{donationDonor.donor.user.name}} <button {{action 'removeDonationDonor' donationDonor}}>Remove</button></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<button {{action 'save'}}>Save</button>

{{outlet}}
