<h3>
  {{#if isEditable}}
    {{focus-input value=organization.name enter='save'}}
  {{else}}
    <span class="organization-name" {{action 'edit'}}>{{organization.name}}</span>
  {{/if}}
</h3>
<a href="#" {{action 'edit'}}>{{#if isEditable}}Cancel{{else}}Edit{{/if}}</a>
{{#if isEditable}}
  <button {{action 'save'}}>Save</button>
{{/if}}
{{yield}}
