{{link-to 'Program' 'programs.auction' model}}

{{link-to 'Edit Auction' 'organizations.organization.auctions.auction.edit' model}}

<dl>
  <dt>Physical Address</dt>
  <dd>
    {{#if model.physicalAddress}}
      {{model.physicalAddress}}
    {{else}}
      <span class='is-blank'>
        None provided
      </span>
    {{/if}}
  </dd>
  <dt>Time Zone ID</dt>
  <dd>
    {{#if model.timeZoneId}}
      {{model.timeZoneId}}
    {{else}}
      <span class='is-blank'>
        None provided
      </span>
    {{/if}}
  </dd>
  <dt>Donation Window Ends At</dt>
  <dd>
    {{#if model.donationWindowEndsAt}}
      {{moment-format model.donationWindowEndsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}
    {{else}}
      <span class='is-blank'>
        None provided
      </span>
    {{/if}}
  </dd>
  <dt>Starts At</dt>
  <dd>
    {{#if model.startsAt}}
      {{moment-format model.startsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}
    {{else}}
      <span class='is-blank'>
        None provided
      </span>
    {{/if}}
  </dd>
  <dt>Ends At</dt>
  <dd>
    {{#if model.startsAt}}
      {{moment-format model.endsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}
    {{else}}
      <span class='is-blank'>
        None provided
      </span>
    {{/if}}
  </dd>
</dl>

<h5>Bid Groups</h5>
{{link-to 'New Bid Group' 'organizations.organization.auctions.auction.bid-groups.new'}}
<ul>
  {{#each model.sortedBidGroups as |bidGroup|}}
    <li>
      {{bidGroup.name}}
      {{link-to 'edit' 'organizations.organization.auctions.auction.bid-groups.bid-group.edit' bidGroup}}
      <button {{action 'moveBidGroup' bidGroup 'up'}}>
        up
      </button>
      <button {{action 'moveBidGroup' bidGroup 'down'}}>
        down
      </button>
    </li>
  {{/each}}
</ul>

<h5>Donors</h5>
{{link-to 'New Donor' 'organizations.organization.auctions.auction.donors.new'}}
<ul>
  {{#each model.donors as |donor|}}
    {{#if donor.id}}
      <li>
        {{donor.user.name}} <button {{action 'removeDonor' donor}}>Remove</button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h5>Tickets</h5>
{{link-to 'New Ticket' 'organizations.organization.auctions.auction.tickets.new'}}

<ul>
  {{#each model.tickets as |ticket|}}
    <li>
      {{ticket.number}}: {{ticket.user.name}}
      {{link-to 'edit' 'organizations.organization.auctions.auction.tickets.ticket.edit' ticket}}
      <button {{action 'destroyTicket' ticket}}>
        destroy
      </button>
    </li>
  {{/each}}
</ul>

<h5>Bidders</h5>
<ul>
  {{#each model.bidders as |bidder|}}
    <li>
      {{#each bidder.tickets as |ticket|}}
        {{ticket.user.name}}
      {{/each}}
    </li>
  {{/each}}
</ul>


<h5>Donations</h5>
{{link-to 'New Donation' 'organizations.organization.auctions.auction.donations.new'}}
<ul>
  {{#each model.donations as |donation|}}
    {{#if donation.id}}
      <li>
        {{#link-to 'organizations.organization.auctions.auction.donations.donation' donation}}
          {{donation.title}}
        {{/link-to}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h5>Auction Items</h5>
{{link-to 'New Auction Item' 'organizations.organization.auctions.auction.auction-items.new'}}

<ul>
  {{#each model.auctionItems as |auctionItem|}}
    {{#if auctionItem.id}}
      <li>
        {{#link-to 'organizations.organization.auctions.auction.auction-items.auction-item.edit' auctionItem}}
          {{auctionItem.donation.title}}
        {{/link-to}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{outlet}}
