{{link-to 'Edit' 'organizations.organization.auctions.auction.auction-items.auction-item.edit'}}

<dl>
  <dt>Bid Group (Type)</dt>
  <dd>{{model.bidGroup.name}} ({{model.bidType.name}})</dd>

  <dt>Minimum Bid Amount</dt>
  <dd>{{model.minimumBidAmount}}</dd>
</dl>

<h4>Bids</h4>
{{link-to 'New' 'organizations.organization.auctions.auction.auction-items.auction-item.bids.new'}}

<ul>
  {{#each model.bids as |bid|}}
    {{#if bid.id}}
      <li>{{bid.id}} {{bid.amount}} {{format-bidder-name bidder=bid.bidder}} {{if bid.winner 'winner'}}</li>
    {{/if}}
  {{/each}}
</ul>
