<dl>
  <dt>Physical Address</dt>
  <dd>{{model.physicalAddress}}</dd>
  <dt>Time Zone ID</dt>
  <dd>{{model.timeZoneId}}</dd>
  <dt>Donation Window Ends At</dt>
  <dd>{{moment-format model.donationWindowEndsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}</dd>
  <dt>Starts At</dt>
  <dd>{{moment-format model.startsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}</dd>
  <dt>Ends At</dt>
  <dd>{{moment-format model.endsAt 'MMMM Do YYYY, h:mm:ss a z' timeZone=model.timeZoneId}}</dd>
</dl>

<h5>Donations</h5>
{{link-to 'New Donation' 'organization.auction.donations.new'}}
<ul>
  {{#each model.donations as |donation|}}
    <li>
      {{#link-to 'organization.auction.donation.index' donation}}
        {{donation.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
