<div>

  <h3>Donation</h3>

  {{link-to 'Edit donation' 'organizations.organization.auctions.auction.donations.donation.edit' model}}

  <dl>
    <dt>Title</dt>
    <dd>{{model.title}}</dd>

    <dt>Category</dt>
    <dd>{{model.donationCategory.name}}</dd>

    <dt>Donor</dt>
    <dd>{{model.donor.name}}</dd>

    <dt>Description</dt>
    <dd>{{model.description}}</dd>

    <dt>Quantity</dt>
    <dd>{{model.quantity}}</dd>

    <dt>Estimated Value</dt>
    <dd>{{model.estimatedValueAmount}}</dd>

    <dt>Fullfilment Type</dt>
    <dd>{{model.fulfillmentType}}</dd>

    <dt>Bid Type</dt>
    <dd>{{model.bidType.name}}</dd>

    <dt>Redemption Window Starts At</dt>
    <dd>{{moment-format model.redemptionWindowStartsAt timeZone=model.auction.timeZoneId}}</dd>

    <dt>Redemption Window Ends At</dt>
    <dd>{{moment-format model.redemptionWindowEndsAt timeZone=model.auction.timeZoneId}}</dd>

    <dt>Notes</dt>
    <dd>
      {{#if model.notes}}
        {{model.notes}}
      {{else}}
        None provided.
      {{/if}}
    </dd>

    <dt>Donors</dt>
    <dd>
      <ul>
        {{#each model.donationDonors as |donationDonor|}}
          <li>{{donationDonor.donor.user.name}}</li>
        {{/each}}
      </ul>
      {{#unless model.donationDonors}}
        None specified
      {{/unless}}
    </dd>
  </dl>

</div>
