<div class="auction-program">

  <div class="auction-program-bid-groups">
    {{#each model.sortedBidGroups as |bidGroup|}}
      <div class="auction-program-bid-group">
        <h2 class="auction-program-bid-group-name">
          {{bidGroup.name}}
        </h2>
        <div class="auction-program-bid-group-description">
          {{format-newlines-into-paragraphs bidGroup.description}}
        </div>

        {{#if bidGroup.groupByDonationCategory}}
          {{#each bidGroup.uniqueDonationCategories as |donationCategory|}}
            <h3 class="auction-program-bid-group-donation-category">
              {{donationCategory.name}}
            </h3>
            {{auction-program-auction-items auctionItems=bidGroup.auctionItems donationCategory=donationCategory}}
          {{/each}}

        {{else}}
          {{auction-program-auction-items auctionItems=bidGroup.auctionItems}}
        {{/if}}

      </div>
    {{/each}}
  </div>

</div>
